.Card {
    border: 2px solid black;
    border-radius: 15px;
    margin-bottom: 15px;
    margin: 15px;
    background-color: lightgray;
    color: black;
    /* padding: 0 10px; */
    width: 200px;
}

.Card>h4{
    padding: 0 5px;
}

.Card>p {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5px;
}

.cardtab {
    display: flex;
    /* justify-content:space-evenly; */
}
.Price{
    background-color: coral;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    padding:2px 5px;
    width:auto
}